__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

venv/
env/
ENV/
.venv/
.pyenv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log

Pipfile
Pipfile.lock

.cache/
.pytest_cache/

htmlcov/
.coverage
.coverage.*

*.dockerignore
